{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}
    <h1>Booking</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ booking.id }}</td>
            </tr>
            <tr>
                <th>Day</th>
                <td>{{ booking.day ? booking.day|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Hour</th>
                <td>{{ booking.hour ? booking.hour|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndHour</th>
                <td>{{ booking.endHour ? booking.endHour|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('booking_index') }}">back to list</a>

    <a href="{{ path('booking_edit', {'id': booking.id}) }}">edit</a>

    {{ include('booking/_delete_form.html.twig') }}
{% endblock %}